*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: rgb(12, 12, 71);
    color: rgb(255, 255, 255);
    font-family: 'Nunito';
}
h1 {
    display: flex;
}

.rubber-letter {
    transition: 0.2s ease-in-out color;
}
.rubber-letter:hover {
    display: inline-block;
    cursor: pointer;
    animation: rubberLetter 1s ease-in-out forwards;
    color: rgb(31, 192, 197);
}
@keyframes rubberLetter {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}